In [13]:
x = int(input())
y = int(input())
z = int(input())
n = int(input())

1
1
1
2

In [23]:
ans = []

In [24]:
for i in range(x+1):
    for j in range(y+1):
        for k in range(z+1):
            if i+j+k!=n:
                ans.append([i,j,k])

In [26]:
print(ans)

[[0, 0, 0], [0, 0, 1], [0, 1, 0], [1, 0, 0], [1, 1, 1]]

In [58]:
n = int(input())
arr = map(int,input().split())

5
2 3 6 6 5

In [59]:
a = list(arr)

In [60]:
a

[2, 3, 6, 6, 5]

In [61]:
a.sort()

In [67]:
a.remove(max(a))

In [66]:
a

[2, 3, 5, 6]

In [176]:
marksheet = []
scores = []
for _ in range(int(input())):
    name = input()
    score = float(input())
    marksheet.append([name,score])
    scores.append(score)

4
a
3
b
3
c
2
d
1

In [187]:
z = max(scores)
type(z)

float

In [189]:
a = list(scores)

In [191]:
while z==float(max(a)):
    a.remove(z)

In [192]:
a

[2.0, 1.0]

In [193]:
ans = max(scores)

In [194]:
ans

2.0

In [205]:
for i in range(len(marksheet)):
    if ans==marksheet[i][1]:
        print(marksheet[i][0])

c

In [ ]:
if __name__ == '__main__':
    marksheet=[]
    scores = []
    for _ in range(int(input())):
        name = input()
        score = float(input())
        marksheet.append([name,score])
        scores.append(score)
    
    a = list(scores)
    z = min(a)
    
    while z==min(a):
        a.remove(z)
    
    ans = min(a)
    marksheet.sort()
    
    for i in range(len(marksheet)):
        if marksheet[i][1] == ans:
            print(marksheet[i][0])

In [222]:
d = {}
n = int(input()) #no. of students
for _ in range(n):
    line = input().split()
    name, scores = line[0],line[1:]
    scores=map(float,scores)
    d[name]=list(scores)

3
a 1 2 3
b 3 4 5
c 5 6 7

In [246]:
query = input()
arr = d.get(query)
print(type(sum(arr)/len(arr)))

a
<class 'float'>

In [247]:
if __name__ == '__main__':
    n = int(input())
    student_marks = {}
    for _ in range(n):
        line = input().split()
        name, scores = line[0], line[1:]
        scores = map(float, scores)
        student_marks[name] = list(scores)
    query_name = input()
    arr = student_marks[query_name]
    ans = sum(arr)/float(len(arr))
    print(ans)

3
a 1 2 3
b 2 3 4
c 4 5 6
a
2.0

In [249]:
import string
s = "abc123"

In [254]:
num=""
for i in range(len(s)):
    if(s[i] in string.digits):
        num = num + s[i]

In [257]:
int(num)

123

In [258]:
def answer(data, n):
	t = {}
	for d in data:
		t[d] = t.get(d, 0) + 1
	for d in t:
		if t[d] > n:
			for i in range(t[d]):
				data.remove(d)
	return data

In [261]:
answer([1,2,3],2)

[1, 2, 3]

In [263]:
data = [1,2,3]
t = {}
for d in data:
    t[d] = t.get(d, 0) + 1
print(t)

{1: 1, 2: 1, 3: 1}

In [1]:
n = int(input())

5

In [2]:
arr = list()

In [15]:
arr = [,1,2,3,4]

SyntaxError: invalid syntax (<ipython-input-15-4127cd606d04>, line 1)

In [6]:
arr

[1, 2, 3, 4]

In [7]:
l = input().split()

vaibhav 10 10 10

In [8]:
l

['vaibhav', '10', '10', '10']

In [9]:
l[0]

'vaibhav'

In [10]:
a = l[1:]

In [14]:
x = raw_input()

NameError: name 'raw_input' is not defined

In [12]:
n = int(input())

2

In [13]:
l = []

In [29]:
n = int(input())
l = []
for _ in range(n):
    s = input().split()
    cmd = s[0]
    args = s[1:]
    if cmd != "print":
        cmd += "(" + ",".join(args) + ")"
        eval("l."+cmd)
        print(cmd)
    else:
        print(l)

2
insert 0 5
insert(0,5)
print
[5]

2

In [42]:
st = "print"

In [43]:
a = [1]

In [44]:
st

'print'

In [45]:
st = st + ",".join(str(a))

In [46]:
st

'print[,1,]'

In [49]:
n = int(input())

3

In [53]:
n=int(input())
l = []
for _ in range(n):
    x = int(input())
    l.append(x)
tp = tuple(l)

3
1
2
3

In [51]:
tp

(1, 2, 3)

In [52]:
hash(tp)

2528502973977326415

In [56]:
z = input().split()

1 2 3 4

In [57]:
z

['1', '2', '3', '4']

In [61]:
100/9

11.11111111111111

In [63]:
n = int(input())
s = set(map(int, input().split()))

2
1

<h2>How to take inputs in python</h2>
<p>several ways :
    <br>
    1. x,y=raw_input(),raw_input() or x,y = input(),input()
    <br>
    2. x,y=input().split()
</p>

<h4>3.List Comprehension</h4>
<p>
    x,y = [int(x),int(y)] <br>
    ** x,y = [int(x) for in [x,y]]<br>
    <h5>Examples :</h5>
    x,y = [int(x) for x in input().split()]
</p>

In [67]:
x = [int(x) for x in input().split()]

1 2 3 4 5

<h4>using map</h4>
<p>
    x,y = map(int,input().split())
</p>

In [80]:
x = list(map(int, input().split()))

1 2 3 4 5

In [82]:
x

[1, 2, 3, 4, 5]

In [100]:
s.find('vaibhav')

0

In [1]:
s = 'vaibhavvaibhavvaibhav'

In [2]:
s.replace('vv','==')

'vaibha==aibha==aibhav'

In [3]:
s

'vaibhavvaibhavvaibhav'

<h2> demonstrate the use of strip() method </h2>
  
string = " geeks for geeks " 
<br>  
prints the string without stripping <br>
print(string)  <br>
  
prints the string by removing leading and trailing whitespaces <br>
print(string.strip())    <br>
  
prints the string by removing geeks <br>
print(string.strip(' geeks')) <br>

<h3>Output:</h3>

geeks for geeks 
<br>
geeks for geeks
<br>
for

In [23]:
s = "vaibhav saraf saraf"

In [22]:
s.strip(' saraf')

'vaibhav'

In [24]:
x = "vaibhav saraf saraf"

In [26]:
x.strip(' ')

'vaibhav saraf saraf'

In [27]:
x = "   vaibhav saraf saraf   "

In [31]:
x = x.strip()

<h3>strips remove leading and ending spaces <i>string.strip()</i> or 'given arguments' <i>string.strip(arguments)</i></h3>

In [33]:
x

'vaibhav saraf saraf'

In [39]:
string, substring = (input().strip(), input().strip())
sum([ 1 for i in range(len(string)-len(substring)+1) if string[i:i+len(substring)] == substring])

vaibhav
v

2

In [44]:
x = [False for i in range(10)]

In [47]:
x[2] = True

In [48]:
x

[False, False, True, False, False, False, False, False, False, False]

<p>
    Python any() function accepts iterable (list, tuple, dictionary etc.) as an argument and return true if any of the element in iterable is true, else it returns false. If iterable is empty then any() method returns false.
</p>

In [49]:
any(x)

True

<h2>Textwrap</h2>
<p>
    The textwrap module provides two convenient functions: wrap() and fill().<br>
    <b><i>textwrap.wrap()</b></i>
    <br>
    The wrap() function wraps a single paragraph in text (a string) so that every line is width characters long at most.

    <i>
        >>> import textwrap 
        >>> string = "This is a very very very very very long string."
        >>> print textwrap.wrap(string,8)
        ['This is', 'a very', 'very', 'very', 'very', 'very', 'long', 'string.']
    </i>
    <br>
    
    <b><i>textwrap.fill()</b></i>
    The fill() function wraps a single paragraph in text and returns a single string containing the wrapped paragraph. 
    <i>
        >>> import textwrap<br>
>>> string = "This is a very very very very very long string."<br>
>>> print textwrap.fill(string,8)<br>
This is<br>
a very<br>
very<br>
very<br>
very<br>
very<br>
long<br>
string.<br>
    </i>
    
    
</p>

In [50]:
s = "ABCDEFGHIJKLIMNOQRSTUVWXYZ"

In [51]:
import textwrap

In [54]:
s=textwrap.fill(s,4)

In [56]:
print(s)

ABCD
EFGH
IJKL
IMNO
QRST
UVWX
YZ

In [63]:
n = int(input())
width = len("{0:b}".format(n))
# print(width)
for i in range(1,n+1):
  print ("{0:{width}d} {0:{width}o} {0:{width}X} {0:{width}b}".format(i, width=width))

100
7
      1       1       1       1
      2       2       2      10
      3       3       3      11
      4       4       4     100
      5       5       5     101
      6       6       6     110
      7       7       7     111
      8      10       8    1000
      9      11       9    1001
     10      12       A    1010
     11      13       B    1011
     12      14       C    1100
     13      15       D    1101
     14      16       E    1110
     15      17       F    1111
     16      20      10   10000
     17      21      11   10001
     18      22      12   10010
     19      23      13   10011
     20      24      14   10100
     21      25      15   10101
     22      26      16   10110
     23      27      17   10111
     24      30      18   11000
     25      31      19   11001
     26      32      1A   11010
     27      33      1B   11011
     28      34      1C   11100
     29      35      1D   11101
     30      36      1E   11110
     31      37      1F   11111
     32      40      20  100000
     33      41      21  100001
     34      42      22  100010
     35      43      23  100011
     36      44      24  100100
     37      45      25  100101
     38      46      26  100110
     39      47      27  100111
     40      50      28  101000
     41      51      29  101001
     42      52      2A  101010
     43      53      2B  101011
     44      54      2C  101100
     45      55      2D  101101
     46      56      2E  101110
     47      57      2F  101111
     48      60      30  110000
     49      61      31  110001
     50      62      32  110010
     51      63      33  110011
     52      64      34  110100
     53      65      35  110101
     54      66      36  110110
     55      67      37  110111
     56      70      38  111000
     57      71      39  111001
     58      72      3A  111010
     59      73      3B  111011
     60      74      3C  111100
     61      75      3D  111101
     62      76      3E  111110
     63      77      3F  111111
     64     100      40 1000000
     65     101      41 1000001
     66     102      42 1000010
     67     103      43 1000011
     68     104      44 1000100
     69     105      45 1000101
     70     106      46 1000110
     71     107      47 1000111
     72     110      48 1001000
     73     111      49 1001001
     74     112      4A 1001010
     75     113      4B 1001011
     76     114      4C 1001100
     77     115      4D 1001101
     78     116      4E 1001110
     79     117      4F 1001111
     80     120      50 1010000
     81     121      51 1010001
     82     122      52 1010010
     83     123      53 1010011
     84     124      54 1010100
     85     125      55 1010101
     86     126      56 1010110
     87     127      57 1010111
     88     130      58 1011000
     89     131      59 1011001
     90     132      5A 1011010
     91     133      5B 1011011
     92     134      5C 1011100
     93     135      5D 1011101
     94     136      5E 1011110
     95     137      5F 1011111
     96     140      60 1100000
     97     141      61 1100001
     98     142      62 1100010
     99     143      63 1100011
    100     144      64 1100100

### Dealing with complex numbers

In [1]:
z = 1 + 2j

In [6]:
abs(z)

2.23606797749979

In [9]:
import cmath
cmath.phase(z)

1.1071487177940904

In [10]:
type(z)

complex

In [12]:
z = complex(input())

1+2j

In [13]:
z

(1+2j)

In [14]:
import math

In [20]:
math.degrees(0)

0.0

In [33]:
ab = bc = 10
str(int(round(math.degrees(math.atan2(ab,bc)))))

'45'

In [39]:
n = int(input())
for i in range(1,n+1):
    for i in range(1,i+1):
        print(i,end="")
    print("\n",end="")

5
1
12
123
1234
12345

## Division Mod
print(divmod(177,10))
>(17, 7)  #it its tuple

In [40]:
divmod(117,10)

(11, 7)

## Power function

pow(a,b,m) means (a^b)%m

In [42]:
pow(2,4,10) #2^4=16, 16%10=6

6

Python Integers has no limit on size

In [43]:
from itertools import product

a = list(map(int,input().split()))
b = list(map(int,input().split()))
li = list(product(a,b))

1 2
3 4

In [48]:
for i in range(len(li)):
    print(li[i],end=" ")

(1, 3) (1, 4) (2, 3) (2, 4)

### Expression lists
Except when part of a list or set display, an expression list containing at least one comma yields a tuple. The length of the tuple is the number of expressions in the list. The expressions are evaluated from left to right.

An asterisk * denotes iterable unpacking. Its operand must be an iterable. The iterable is expanded into a sequence of items, which are included in the new tuple, list, or set, at the site of the unpacking.

In [49]:
print(*product(a,b)) # Expression lists

(1, 3) (1, 4) (2, 3) (2, 4)

In [71]:
x = [0]
x = input().split()

1 2 3 4 5

In [72]:
x = list(map(int,x))

In [73]:
x

[1, 2, 3, 4, 5]

In [74]:
from itertools import permutations
l = input().split()
a = int(l[1])
li = list(l[0])
z = [''.join(i) for i in (permutations(sorted(li),a))]
print(*z,sep="\n")
##giving all permutation with

Hach 2
Ha
Hc
Hh
aH
ac
ah
cH
ca
ch
hH
ha
hc

In [80]:
from itertools import combinations
l = input().split()
a = int(l[1])
li = list(l[0])
z = []
for i in range(a+1):
    z = z + [''.join(j) for j in (combinations(sorted(li),i))]
    
print(*z,sep="\n")

hack 2

a
c
h
k
ac
ah
ak
ch
ck
hk

In [82]:
type(z)

list

## itertools.groupby() funtion

In [92]:
from itertools import groupby
s = input()

1112233334

In [94]:
res1 = []
res1[:0] = s

In [95]:
res1

['1', '1', '1', '2', '2', '3', '3', '3', '3', '4']

In [96]:
res2 = list(s)

In [97]:
res2

['1', '1', '1', '2', '2', '3', '3', '3', '3', '4']

In [100]:
res3 = list(map(lambda i:i,s))

In [101]:
res3

['1', '1', '1', '2', '2', '3', '3', '3', '3', '4']

In [147]:
s = input()
res = list(s)
int_res = list(map(int,res))

1222311

In [148]:
from itertools import groupby
z = []
for (key,values) in groupby(int_res):
    z.append([key,list(values)])

In [157]:
z

[[1, [1]], [2, [2, 2, 2]], [3, [3]], [1, [1, 1]]]

In [158]:
x = [(len(list(values)),int(key)) for key, values in groupby(s)]

In [159]:
print(x)
print(*x)

[(1, 1), (3, 2), (1, 3), (2, 1)]
(1, 1) (3, 2) (1, 3) (2, 1)

In [150]:
a = [1,2,3,4,5]
print(a)
print()
print(*a)

[1, 2, 3, 4, 5]

1 2 3 4 5

In [ ]:
l = [[1,2],[3,4]]